<p id="notice"><%= notice %></p>


  <h1>Listing Items</h1>
 
  
  
  <div class = "index-table">  
    <ul type = "none" class = 'items' >
      <% @items.each do |item| %>      
        <li style = "float:left">  
          <div class="col-md-3" >    
            <%= link_to (image_tag  generate_image(item)), item %> 
          <p id  = "name-p"> <%= link_to item.name, item %> </p>               
          </div> 
        </li>
      <% end %>
    </ul>
  </div>
 

 