/*@import "bootstrap";
*/
 

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  /*gallery */
   background: #000000 url(img/header.jpg) no-repeat center top;
   color: black;
  /**********/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* index table */
.index_table {
    text-align: bottom;
}


li.index_tables {
  display: inline;
}
 

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-brand .navbar-my{

}

.navbar-header {
  float:right !important;
}

.button-new-div {
  margin-bottom : 55px  ;
}

/* index_table */

 

.index-table ul ul{ 
  padding-left:0px;

}

.index-table ul ul li a{
  
}

.index-table div{
   }


.button {
  display: inline-block;
  padding-bottom:0px !important;
  padding-top:0px !important;
  border-width: 1px !important;
  border-style: solid;
  background: #6B6969;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white !important;
  border-color: red;
  font-weight: bold;
  width: 100px !important;
  margin-bottom: 1px;
}


/* gallery */

#gallery_wrap {
  width: 820px;
  height: 368px;
  padding: 25px;
  background: url(img/border.png) top left no-repeat;
}

 
a:hover {text-decoration: none;}
   
h3 {border-bottom-color: white;}